<div class="col-md-3">
  <table class="table">
    <thead>
      <tr><th>
        Recent Posts
        {{#if isAuthenticated}}
          <button class="pull-right" {{action 'new'}}>New</button>
        {{/if}}
      </th></tr>
    </thead>
    {{#each model}}
      <tr>
        <td>
          {{#link-to 'post' this}}{{title}}{{/link-to}}
          <small class="muted"> by {{ author.name }}</small>
        </td>
      </tr>
    {{/each}}
  </table>
</div>
<div class="col-md-9">
  {{outlet}}
</div>